html,
body {
	margin: 0;
	padding: 0;
}

button {
   background-color: #4CAF50; /* Green */
   border: none;
   color: white;
   padding: 1px 1px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 14px;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	min-width: 230px;
	max-width: 850px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-weight: 300;
}

#loc-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

#loc-list li {
	position: relative;
	font-size: 16px;
	border-bottom: 3px solid #ededed;
}

*:focus {
    outline: 0;
}

.play-button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 34px;
  border-color: transparent transparent transparent #4CAF50;
  transition: 80ms all ease;
  cursor: pointer;
  border-style: solid;
  border-width: 18px 0 18px 34px;
}
.play-button.paused {
  border-style: double;
  border-width: 0px 0 0px 30px;
}
.play-button:hover {
  border-color: transparent transparent transparent #4CAF50;
}

.hidden {
	display: none;
}

.temperature {
	border-radius: 2%;
	width: 250px;
	height: 50px;
	padding: 15px 10px 5px 5px;
	color: Green;
  font: bold 23px/25px Helvetica, Verdana, Tahoma;
  text-align: center;
	/* width and height can be anything, as long as they're equal */
}

.temp-very-cold {
	background-color: #4575b4;
}
.temp-cold {
	background-color: #74add1;
}
.temp-chilly {
	background-color: #abd9e9;
}
.temp-cool {
	background-color: #e0f3f8;
}
.temp-mild{
	background-color: #fee090;
}
.temp-warm {
	background-color: #fdae61;
}
.temp-hot {
	background-color: #f46d43;
}
.temp-very-hot {
	background-color: #d73027;
}

.time-labels {
	color: green;
}
